<div class="new-micropost">
  <%= form_for(@micropost) do |f| %>
    <%= render 'shared/micropost_error_messages' %>

    <div class="field">
      <h2>分享视频</h2>
      <span>网址,目前只支持来自优酷的分享</span>
      <br>
      <%= f.url_field :url, placeholder: "请直接把优酷网的视频地址粘贴在这里", id: "micropost_video_url" %>
    </div>
       <div class="field">
      <%= f.label :title, "视频标题(可选)" %>
      <%= f.text_field :title, palceholder: "珊莎讲述她与瑟曦太后的关系", id: "micropost_title" %>
    </div>
    <div class="field">
      <%= f.label :content, "简介(可选)" %>
      <%= f.text_field :content, palceholder: "有什么要说的吗?", id: "micropost_content" %>
    </div>
    <%= f.submit "提交", class: "btn btn-primary" %>
  <% end %>
</div>
